bnlearn==0.3.11
geographiclib==1.50
geopandas==0.8.1
geopy==2.0.0
herepy==3.1.0
ipywidgets==7.5.1
matplotlib==3.3.3
nb-conda==2.2.1
numpy==1.19.4
pandas==1.1.4
pgmpy==0.1.11
Pillow==8.0.1
pipreqs==0.4.10
pyro-ppl==1.5.1
rpy2==3.3.6
scikit-learn==0.23.2
scipy==1.5.4
sklearn==0.0
torch==1.7.0
torchvision==0.8.1
tqdm==4.54.1

